namespace: jiadai-dev

backend:
  name: backend
  replicas: 2
  image: ghcr.io/yayamayajd/guestbook-api@sha256:14d2a2703a9f77d49f7bb94d15e7428e574616dab4714a35f3bc14e1e695fd85
  containerPort: 8080

  dbhost: postgres
  dbport: 5432
  dbuser: guestbook
  dbname: guestbook
  

  svcname: backend
  svcport_name: http
  svcport: 8080
  targetPort: 8080
  svctype: ClusterIP


frontend: 
  name: frontend
  replicas: 2
  image: ghcr.io/yayamayajd/guestbook-web@sha256:04e7253de8a52531bd280b971b1fb8b946db2d1742bcea666a0de457b866bad1
  containerPort: 8080
  cmname: nginx-conf
  cmPath: /opt/app-root/etc/nginx.d/
  cmsubPath: server.conf

  svcname: frontend
  svcportname: web
  svcport: 8080
  targetPort: 8080
  svctype: ClusterIP


redis:
  name: redis
  replicas: 1
  image: quay.io/kurs/redis:latest
  containerPort: 6379
  
  svcname: redis
  svcportname: redis
  svcport: 6379
  targetPort: 6379
  svctype: ClusterIP

  pvcname: redispvc
  accessModes: "ReadWriteOnce"
  storagesize: 500Mi
  storageClass: gp3
  storagename: redispvc
  mountPath: /data


postgres:
  name: postgres
  image: quay.io/fedora/postgresql-16:latest
  replicas: 1
  containerPort: 5432
  minReadySeconds: 10
  terminationGracePeriodSeconds: 30
  mountPath: /var/lib/pgsql/data
  storagename: postgres-storage
  accessModes: "ReadWriteOnce"
  storageClassName: gp3
  storageSize: 1Gi

  user: guestbook
  database: guestbook


  svcname: postgres
  svcportname: http
  svcport: 5432
  targetPort: 5432




