namespace: jiadai-dev

backend:
  name: backend
  replicas: 2
  image:
  containerPort: 8080

  svcname: backend
  svcport_name: http
  svcport: 8080
  targetPort: 8080
  svctype: ClusterIP


frontend: 
  name: frontend
  replicas: 2
  image:
  containerPort: 8080

  svcname: frontend
  svcportname: web
  svcport: 8080
  targetPort: 8080
  svctype: ClusterIP


redis:
  name: redis
  replicas: 1
  image: quay.io/kurs/redis:latest
  containerPort: 6379
  
  svcname: redis
  svcportname: redis
  svcport: 6379
  targetPort: 6379
  svctype: ClusterIP

  pvcname: redispvc
  accessModes: "ReadWriteOnce"
  storagesize: 500Mi
  storageClass:


postgres:
  name: postgres
  image: quay.io/fedora/postgresql-16:latest
  replicas: 1
  containerPort: 5432
  minReadySeconds: 10
  terminationGracePeriodSeconds: 30
  mountPath: /var/lib/pgsql/data
  storagename: postgres_storage
  accessModes: "ReadWriteOnce"
  storageClassName: 
  storageSize: 1Gi

  svcname: postgres
  svcportname: http
  svcport: 5432
  targetPort: 5432



