apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.backend.name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.backend.replicas}}
  selector:
    matchLabels:
      app: guestbook-backend
  template:
    metadata:
      labels:
        app: guestbook-backend
    spec:
      containers:
        - name: {{ .Values.backend.name }}
          image: "{{ .Values.backend.image.repository }}@sha256:{{ .Values.backend.image.digest }}"
          imagePullPolicy: {{ .Values.backend.image.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.containerPort }}
          env:
          - name: DB_HOST
            value: {{ .Values.backend.dbhost }}
          - name: DB_PORT
            value: "{{ .Values.backend.dbport }}"
          - name: DB_USER
            value: {{ .Values.backend.dbuser }}
          - name: DB_NAME
            value: {{ .Values.backend.dbname }}
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRESQL_PASSWORD    

          - name: REDIS_HOST
            value: {{ .Values.backend.redishost }}                  #redis
          - name: REDIS_PORT
            value: "{{ .Values.backend.redisport }}"                                # "6379"
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: redis-secret
                key: REDIS_PASSWORD   
          livenessProbe:
            httpGet:
              path: {{ .Values.backend.livenessProbe.path | quote }}                         #/health
              port: {{ .Values.backend.containerPort }}                        # 8080
            initialDelaySeconds: {{ .Values.backend.livenessProbe.initialDelaySeconds }}              #10
            periodSeconds:   {{ .Values.backend.livenessProbe.periodSeconds }} 
            failureThreshold:  {{ .Values.backend.livenessProbe.failureThreshold }}   
                        #10
          readinessProbe:
            httpGet:
              path: {{ .Values.backend.livenessProbe.path | quote }}                         #/health
              port: {{ .Values.backend.containerPort }} 
            initialDelaySeconds: {{ .Values.backend.readinessProbe.initialDelaySeconds }}              #10
            periodSeconds:   {{ .Values.backend.readinessProbe.periodSeconds }}
            failureThreshold:  {{ .Values.backend.readinessProbe.failureThreshold }}             

      


  