apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.backend.name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.backend.replicas}}
  selector:
    matchLabels:
      app: guestbook-backend
  template:
    metadata:
      labels:
        app: guestbook-backend
    spec:
      containers:
        - name: {{ .Values.backend.name }}
          image: {{ .Values.backend.image }}
          ports:
            - containerPort: {{ .Values.backend.containerPort }}
          env:
          - name: DB_HOST
            value: {{ .Values.backend.dbhost }}
          - name: DB_PORT
            value: {{ .Values.backend.dbport }}
          - name: DB_USER
            value: {{ .Values.backend.dbuser }}
          - name: DB_NAME
            value: {{ .Values.backend.dbname }}
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRESQL_PASSWORD          
            

      


  